<strong>Recuperação de senha</strong>

<p>Uma solicitação para troca de senha do seguinte e-mail ({{email}}). Se você não foi o autor, troque a senha</p>

<p>Para continuar com a recuperação, utilize o token {{token}} ou clique no link abaixo</p>

<a href="{{link}}">Criar nova senha</a>
